---
import "../styles/global.css";
import AboutLayaout from "../Layouts/BaseLayaout.astro";

const pageTitle = "Mahadma Gandhi chingada madre.";
---

    <AboutLayaout pageTitle={pageTitle}>
        <h1>Acerca de mi.</h1>
    </AboutLayaout>
