---
import "../styles/global.css";
import AboutLayaout from "../Layaouts/BaseLayaout.astro";

const pageTitle = "Página de inicio";
---

    <AboutLayaout pageTitle={pageTitle}>
        <h1>Acerca de mi.</h1>
    </AboutLayaout>
