---
import "../styles/global.css";
import BaseLayaout from "../Layaouts/BaseLayaout.astro";
const {pageTitle} = Astro.props;


---

<BaseLayaout pageTitle={pageTitle}>
  <h2>Mi impresionante subtítulo del blog</h2>
</BaseLayaout>